version: "3.8"

services:

  tor:
    image: dperson/torproxy
    container_name: tor
    restart: unless-stopped
    environment:
      - LOCATION=FR
      - STRICT=1
      - TOR_MaxCircuitDirtiness=600
    ports:
      - "9050:9050"
      - "9051:9051"

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    depends_on:
      - tor
    environment:
      - TOR_PROXY=socks5://tor:9050
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "8080:80"
